<h1>Reset Password</h1>
 <p>If you have forgotten your password, you can request a reset link be sent to your email.  Please enter the email that you used when you signed up from the site.</p>

<%= form_for(:session, :url => sessions_path) do |f| %>
<%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>